@import "../../../content/scss/vendor";

button {
    width: 140px;
    height: 45px;
    border-radius: 50px;
    background: linear-gradient(to right, $color-primary, darken($color-primary, 20));
    color: $color-white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    &:hover {
        background: linear-gradient(to right, $color-primary, darken($color-primary, 30));
    }
}

.button-success {
    background: linear-gradient(to bottom, darken($color-success, 20), $color-success);
    &:hover {
        background: linear-gradient(to bottom, darken($color-success, 10), $color-success);
    }
}

.button-error {
    background: linear-gradient(to bottom, darken($color-error, 20), $color-error);
    &:hover {
        background: linear-gradient(to bottom, darken($color-error, 10), $color-error);
    }
}
